<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmarks.name %></td>
    <td><%= @landmarks.year_completed %></td>
  </tr>
<table>

<a class="button" href="/landmarks/<%= @landmarks.id %>/edit">Edit Landmark</a>
<br>
<a class="button" href="/landmarks">Landmarks</a>
